
.global-div-aerohiveCloudCtl{
    float:left;
    width:1280px;
}

.left-div-aerohiveCloudCtl{
    float:left;
    width:234px;
}
.img-div-aerohiveCloudCtl{
    float:left;
    margin-top:90px;
    width:234px;
    height:215px;
    
}
.img-img-aerohiveCloudCtl{
    float:left;
    width:234px;
    height:215px;
    
}

.right-div-aerohiveCloudCtl{
    float:left;
    margin-top:90px;
    margin-left:86px;
    width:960px;
    height:300px;
}

.form-item-div-aerohiveCloudCtl{
    float:left;
    width:960px;
    margin-top:10px;
}
.form-item-title-div-aerohiveCloudCtl{
    float:left;
    width:960px;
    height:17px;
    line-height: 17px;
    color:#333333;
    font-weight: bold;
    font-size: 12px;
}
.form-item-input-div-aerohiveCloudCtl{
    float:left;
    width:270px;
    height:32px;
}
.form-item-wrong-div-aerohiveCloudCtl{
    float:left;
    margin-left:20px;
    width:670px;
    height:32px;
    line-height: 32px;
    color:#f44336;
    font-size: 12px;

}
.form-item-pass-score-div-aerohiveCloudCtl{
    float:left;
    margin-left:20px;
    width:670px;
    height:32px;
}
.form-item-pass-score-0-div-aerohiveCloudCtl{
    float:left;
    width:670px;
    height:17px;
    line-height: 17px;
    color:#a8b7c7;
    font-size: 12px;
}
.form-item-pass-score-1-div-aerohiveCloudCtl{
    float:left;
    width:670px;
    height:17px;
    line-height: 17px;
    color:#ec0800;
    font-size: 12px;

}
.form-item-pass-score-2-div-aerohiveCloudCtl{
    float:left;
    width:670px;
    height:17px;
    line-height: 17px;
    color:#ffaf00;
    font-size: 12px;

}
.form-item-pass-score-3-div-aerohiveCloudCtl{
    float:left;
    line-height: 32px;
    color:#9ac251;
    font-size: 12px;
    margin-left:20px;
    width:670px;
    height:32px;
}
.form-item-pass-score-4-div-aerohiveCloudCtl{
    float:left;
    line-height: 32px;
    color:#9ac251;
    font-size: 12px;
    margin-left:20px;
    width:670px;
    height:32px;
    color:#00b700;

}
.form-item-pass-score-message-div-aerohiveCloudCtl{
    float:left;
    width:670px;
    height:15px;
    line-height: 15px;
    color:#333333;
    font-size: 12px;

}

.form-button-div-aerohiveCloudCtl{
    float:left;
    width:960px;
    margin-top:10px;
}
.form-button-create-div-aerohiveCloudCtl{
    float:left;
    width:270px;
    height:32px;
}
.form-button-link-div-aerohiveCloudCtl{
    float:left;
    width:270px;
    height:32px;
}
.form-button-create-antd-button-aerohiveCloudCtl{
    width:270px;
    height:32px;
}
.form-button-link-antd-button-aerohiveCloudCtl{
    width:270px;
    height:32px;
}
.form-button-continue-div-aerohiveCloudCtl{
    float:left;
    margin-top:10px;
    width:270px;
    height:17px;
    line-height:17px;
    font-size: 12px;
    color:#2c6aff;
    text-align: center;
    cursor: pointer;

}



.guidance-div-aerohiveCloudCtl{
    float:left;
    width:234px;
    margin-top:90px;
}
.guidance-title-div-aerohiveCloudCtl{
    float:left;
    width:234px;
    height:24px;
    line-height: 24px;
    font-size: 18px;
    color:#333333;
    font-weight: bold;
}
.guidance-content-div-aerohiveCloudCtl{
    float:left;
    margin-top:18px;
    width:234px;
    line-height: 16px;
    font-size: 14px;
    color:#333333;

}
