
.global-div-startingCtl{
    float:left;
    width:1240px;
}

.left-div-startingCtl{
    float:left;
    width:234px;
    margin-left:20px;
}
.img-div-startingCtl{
    float:left;
    margin-top:400px;
    width:234px;
    height:215px;
    
}
.img-img-startingCtl{
    float:left;
    width:234px;
    height:215px;
    
}


.right-div-startingCtl{
    float:left;
    margin-top:90px;
    margin-left:256px;
    width:300px;
    height:300px;
}

.right-title-div-startingCtl{
    float:left;
    width:300px;
    height:27px;
    line-height: 27px;
    color: #333333;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.right-content-div-startingCtl{
    float:left;
    width:300px;
    margin-top:40px;
    
}
.a3-started-successfully-div-startingCtl{
    float:left;
    width:300px;
    height:17px;
    line-height: 17px;
    color: #333333;
    text-align: center;
    font-size: 12px;
}
.go-to-div-startingCtl{
    float:left;
    margin-top:13px;
    width:300px;
    height:32px;
}
.go-to-antd-button-startingCtl{
    float:left;
    width:300px;
    height:32px;
}


.a3-starting-up-div-startingCtl{
    float:left;
    width:300px;
    height:17px;
    line-height: 17px;
    color: #333333;
    text-align: center;
    font-size: 12px;
}
.progress-div-startingCtl{
    float:left;
    margin-top:13px;
    width:300px;
    height:32px;
}