#
# Documentation
#   https://github.com/firehol/netdata/wiki/statsd
#
# Example
#   https://github.com/firehol/netdata/blob/master/conf.d/statsd.d/example.conf
#

[app]
    name = a3
    metrics = *
    private charts = yes
    gaps when not collected = no

[devices.registered_unregistered]
    name = devices.registered_unregistered
    title = registered/unregistered online devices
    family = a3
    context = chart.context
    units = devices
    priority = 91000
    type = line
    dimension = source.a3.devices.online_registered 'registered' last 1 1
    dimension = source.a3.devices.online_unregistered 'unregistered' last 1 1

[devices.registered_per_role]
    name = devices.registered_per_role
    title = devices roles
    family = a3
    context = chart.context
    units = devices
    priority = 91000
    type = line
    dimension = pattern 'source.a3.devices.registered_per_role;*' '' last 1 1

[devices.connected_per_connection_type]
    name = devices.connected_per_connection_type
    title = connection types
    family = a3
    context = chart.context
    units = devices
    priority = 91000
    type = line
    dimension = pattern 'source.a3.devices.connected_per_connection_type;*' '' last 1 1

[devices.connected_per_ssid]
    name = devices.connected_per_ssid
    title = ssid
    family = a3
    context = chart.context
    units = devices
    priority = 91000
    type = line
    dimension = pattern 'source.a3.devices.connected_per_ssid;*' '' last 1 1

[redis.queue_stats_count]
    name = redis.queue_stats_count
    title = redis queue stats counters
    family = a3
    context = chart.context
    units = count
    priority = 91000
    type = stacked
    dimension = pattern 'source.a3.redis.queue_stats_count;*' '' last 1 1

[redis.queue_stats_expired]
    name = redis.queue_stats_expired
    title = redis queue stats expired counters
    family = a3
    context = chart.context
    units = expired
    priority = 91000
    type = stacked
    dimension = pattern 'source.a3.redis.queue_stats_expired;*' '' last 1 1

[redis.queue_stats_outstanding]
    name = redis.queue_stats_outstanding
    title = redis queue stats outstanding counters
    family = a3
    context = chart.context
    units = outstanding
    priority = 91000
    type = stacked
    dimension = pattern 'source.a3.redis.queue_stats_outstanding;*' '' last 1 1
