<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Configurator - A3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Configurator for A3">
    <meta name="author" content="Inverse">

    <!-- styles -->
[% FOREACH css = cssFiles -%]
    <link rel="stylesheet" href="[% c.uri_for("/static/${css}.css") %]">
[% END -%]
    <link href="[% c.uri_for('/static/css/styles.css') %]" rel="stylesheet">
    <link href="[% c.uri_for('/static/configurator/common.css') %]" rel="stylesheet">
    <link href="[% c.uri_for('/static/configurator/servicesAni.css') %]" rel="stylesheet">

<style>
.entitlementKey{
  width: 300px;
}
#entitlementKeyInputs{
  padding-left: 25px;
  padding-top: 15px;
}
#entitlementKeySubmit{
  margin-left: 25px;
  width: 314px;
}

#eulaModal{
  display:none;
}
.errMsg{
  color:#d9534f;
  padding-left:25px;
}

.agree{
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #5cb85c;
  color: white;
}

.submitAgreement{
  display:none;
}

.modal-footer{
  background-color: white;
}

.modal-footer .submitAgreement{
  width: 100%;
}
#progress-bar {
  width: 100%;
  background-color: #ddd;
}

#progress {
  width: 1%;
  height: 30px;
  background-color: #FFC007;
}


#daemonTable{
display:none;
}


</style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="[% c.uri_for('/static/app/html5.js') %]"></script>
    <![endif]-->

  </head>

  <body>

    <div class="alert alert-block hide">
      <button class="close" data-dismiss="alert">&times;</button>
      <strong>[% l('Warning!') %]</strong> <span></span>
    </div>

    <div class="alert alert-success hide">
      <button class="close" data-dismiss="alert">&times;</button>
      <strong>[% l('Success!') %]</strong> <span></span>
    </div>

    <div class="alert alert-error hide">
      <button class="close" data-dismiss="alert">&times;</button>
      <strong>[% l('Error!') %]</strong> <span></span>
    </div>

    <div id="navbar" class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="row-fluid">
          <a class="brand visible-phone" href="#">
            <img src="[% c.uri_for('/static/img/aerohive-logo.svg') %]"/>
          </a>
          <a class="brand span3 hidden-phone" href="#">
            <img src="[% c.uri_for('/static/img/aerohive-logo.svg') %]"/>
          </a>
          <ul class="nav nav-header pull-right">
            <li><a>[% l('Configuration Wizard') %]</a></li>
          </ul>
        </div>
      </div>
    </div>
[% content | none %]

    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script id="labels" type="text/json">
    {
        "Cannot Load Content": "[% l('Cannot Load Content') | js %]"
    }
    </script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/vendor/jquery.min.js') %]"></script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/vendor/jquery-ui.min.js') %]"></script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/vendor/jquery-extra.min.js') %]"></script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/vendor/bootstrap.min.js') %]"></script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/pfappserver.js') %]"></script>
[% FOREACH js = jsFiles -%]
    <script type="text/javascript" src="[% c.uri_for("/static/${js}.js") %]" charset="UTF-8"></script>
[% END -%]
    <script src="[% c.uri_for('/static/configurator/common.js') %]"></script>

    <script>
  	$(document).ready(function(){
      $('#startA3button').on("click", function(){
          console.log("presee inside ");
          $('#movingLogo').addClass('startRotation');
      });
  	});

    </script>
    <script>
// // *** Check regex: When user clicks submit, check the input first, then open modal ***
//     function checkKey(){
//       var checkKeyRegex = RegExp("^[\\s]*([A-Z0-9]{5})-([A-Z0-9]{5})-([A-Z0-9]{5})-([A-Z0-9]{5})-([A-Z0-9]{5})-([A-Z0-9]{5})[\\s]*$");
//       var sampleKey = ["P82G9-DA9BA-67LRQ-4KA6B-LK539-3YTXQ","SF89F-08SF8-908F9-0S8F9-0890F-S9RS9"];  //need to check if key exists
//       var errMsg = "<span class='errMsg'>Sorry please reenter the license key again.</span>";
//       var errMsg2 = "<span class='errMsg' style='color:red;'>This key is not found or not valid.</span>";
//       var errMsg3 = "<span class='errMsg' style='color:red;'>This key is already deactivated.</span>";
//       var errMsgX = "<span class='errMsg' style='color:red;'>This key is already expired.</span>"
//       var userKeyInput = document.getElementById('entitlementKey1').value;
//        console.log("input1: " + userKeyInput);
// 	     //check regex with user input
// 	     console.log(checkKeyRegex.test(userKeyInput));
//        var checkFirstCharOfInput = userKeyInput.charAt(0);
//        if (checkFirstCharOfInput === '3') {
//            $(".errMsg").css('display', 'none');
//            $("#entitlementKeyInputs").before(errMsg3);
//            $("#keyInput").css('border','1px solid #dfdfdf');
//        }else if (checkFirstCharOfInput === '2'){
//            $(".errMsg").css('display', 'none');
//            $("#entitlementKeyInputs").before(errMsg2);
//            $("#keyInput").css('border','1px solid #dfdfdf');
//        }else if (checkFirstCharOfInput === 'X'){
//            $(".errMsg").css('display', 'none');
//            $("#entitlementKeyInputs").before(errMsgX);
//            $("#keyInput").css('border','1px solid #dfdfdf');
//        }else if (checkKeyRegex.test(userKeyInput) == true){
//            $(".errMsg").css('display', 'none');
//   		     $('#eulaModal').modal({backdrop:'static', keyboard: false })   // initialized with no keyboard
//   		     $('#eulaModal').modal('show');
//        } else {
//            $(".errMsg").css('display', 'none');
//            $("#entitlementKeyInputs").before(errMsg);
//   		     $("#entitlementKey").css('border','1px solid #d9534f');
//   	   }
//      }
// 	//if user selects both agree and submit button the the modal disappears and then te
// 	// 30 day trail is disabled and the user can only press the continue button. add a green
// 	 //check mark next to the input box.
//   	function agreeEula(){
//   	  var agreeInput = document.getElementById('agreeToEula');
//   	  var valid = false;
//   	  $(".agree").slideUp();
//   	  $(".submitAgreement").show();
//   	}
//   	function submitAgree(){
//       var submitSpan = "<span style='padding-left: 25px; color:#5cb85c;'>Complete! Press Continue to finish the process.</span>";
//   	  $('#eulaModal').modal('hide');
//   	  $('#thirtyDayTrialRadio').prop("disabled", true);
//   	  $('#entitlementKey1').prop("disabled", true);
//   	  $('#entitlementKeySubmit').css('display', 'none');
//   	  $('.errMsg').hide();
//       $('.continueButton').prop("disabled", false);
//   	  $('#entitlementKeyInputs').after(submitSpan);
//   	}

    </script>
  </body>
</html>
