[Unit]
Description=Aerohive Management Agent(AMA)
Wants=packetfence-redis-cache.service packetfence-config.service
After=packetfence-redis-cache.service packetfence-config.service
Before=packetfence-httpd.portal.service

[Service]
Type=notify
LimitNOFILE=infinity
ExecStart=/usr/local/pf/sbin/pfhttpd -conf /usr/local/pf/conf/caddy-services/ama.conf -log-name ama
Restart=on-failure
Slice=packetfence-base.slice

[Install]
WantedBy=packetfence-base.target
