.box--small img{
  width: 300px;
}

#dots{
  padding-bottom:20px;
}

h1, h2, h3{
  color: #333;
}

.dot--active div, .dot:hover div{
  background-color: #FFC007 !important;
}

.dot div{
  border: 2px solid #FFC007 !important;
}

.media__body {
  padding-top: 5px;
}

html{
  color: white;
}

.media--error .iconic use {
    fill: #fff !important;
}
