.card{
  padding-bottom: 25px;
}
.popover{
  max-width: 700px;
}
.popover-content{
  height: 75px;
  overflow-y: auto;
}
#success-alert, #error-alert{
  display: none;
  z-index: 15;
  position: fixed;
  top: 60px;
}

#success-alert{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

#error-alert{
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

#https_serv_view_more, #eap_ca_view_more, #eap_serv_view_more{
  height:150px;
  width: 700px;
  overflow-y: auto;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 2px;
}

#https_serv_view_more::-webkit-scrollbar, #eap_ca_view_more::-webkit-scrollbar, #eap_serv_view_more::-webkit-scrollbar {
    width: 1em;
}

#https_serv_view_more::-webkit-scrollbar-track, #eap_ca_view_more::-webkit-scrollbar-track, #eap_serv_view_more::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#https_serv_view_more::-webkit-scrollbar-thumb, #eap_ca_view_more::-webkit-scrollbar-thumb, #eap_serv_view_more::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#https-upload, #eap-upload{
  width: 260px;
  margin-left: 160px;
}

.control-label{
  float: left;
  width: 140px;
  text-align: right;
  padding-right: 20px;
}
