
.card-div{
  display: block;
  background-color: #fff;
  margin-top: 24px;
  box-shadow: 0 3px 0 0 #d7d7d7;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  margin: 20px 200px !important;
}

#eulaModal{
  display:none;
}

.head{
   padding-bottom: 30px;
}

.systemId{
  font-size:20px;
}
.pad{
  padding-bottom: 10px;
}
.pad2{
  padding-bottom: 10px;
}

#entire-form{
    margin: 50px 50px;
}

.capacity{
  font-size: 20px;
  display: block;
}

.lcLabel{ width: 200px;  float:left; font-size: 20px;}
.ucLabel{ width: 200px;  float:left; font-size: 20px;}
.ccLabel{ width: 250px;  float:left; font-size: 20px;}
#licenseCapaSpan{ width: 500px; text-align: right;}
#usedCapacitySpan{ width: 500px; text-align: right;}
#currCapacitySpan{ width: 500px; text-align: right;}

/* INPUT FIELD */
.entitlementLicenseKeyInput{
  margin: 0 auto;
  display: table;
  padding-top: 15px;
  height: 65px;
}
label{
    float: left;
    padding-top: 2px;
}
#keyInput{
    float: left;
    width: 380px;
    margin-left: 10px;
    margin-right: 10px;
}
.btn{
  margin-top: -2px;
}

/* TABLE CSS */
#keyLicenseTable{
    margin: 0 auto;
    display:table;
}

#keyLicenseTable th{
   font-size: 14px;
}

#keyLicenseTable th, #keyLicenseTable td{
    width: 150px;
    text-align: center;
}

#keyLicenseTable th:first-child, #keyLicenseTable td:first-child{
    width: 300px;
    text-align: center;
}

#keyLicenseTable thead tr{
  height: 30px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display:table-row;
}

#keyLicenseTable tbody tr{
  height: 25px;
  border-bottom: 1px solid #eee;
  font-family:'Roboto Mono', monospace;
  font-size: 13px;
}

#keyLicenseTable.scroll tbody,
#keyLicenseTable.scroll thead { display: block; }
#keyLicenseTable.scroll tbody {
    height: 215px;
    overflow-y: auto;
    overflow-x: hidden;
}

.daysLeftofKey{
   width: 100px;
}

.notValidExpired{
    color: grey;
    font-style: italic;
    background-color: #eee;
}

.deactivated{
    color: red;
    text-decoration: line-through;
    background-color: #eee;
}

.agree{
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #5cb85c;
  color: white;
}

.submitAgreement{
  display: none;
}

.modal-footer{
  background-color: white;
}

.modal-footer .submitAgreement{
  width: 100%;
  display:none;
}

.expiringSoon{
    color: #FFC007;
}

/* show scroll if table is long */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

@media (max-width:1250px){

  html, body{
    width: 100%;
  }
  .card-div{
    width: 850px;
    display: block;
  }

}
