#
# Copyright (C) 2005-2018 Inverse inc.
#

[192.168.0.1]
description = Test Access Point
group = Aerohive_AP

[192.168.1.0/24]
description = Test Range of Access Points
group = Aerohive_AP

[group Aerohive_AP]
description = Aerohive Access Points
type = Aerohive::AP
mode = production
deauthMethod = RADIUS
