package [% class %];

=head1 NAME

[% class %] - [% class_name %]

=cut

=head1 DESCRIPTION

[% class %]

[% class_description %]

=cut

use strict;
use warnings;

[% content %]
 
=head1 AUTHOR

Inverse inc. <info@inverse.ca>

=head1 COPYRIGHT

Copyright (C) 2005-[% now.year %] Inverse inc.

=cut

1;
