<html>
<head>
</head>
<body>
<h1>[% l('Licensed Capacity:') %]&nbsp;&nbsp;[% max_capacity %]</h1>
<hr/>
<h1>[% l('Used Capacity:') %]&nbsp;&nbsp;[% used_capacity.item('nb') %]</h1>
<hr/>
<table>
	  <tr>
	    <th>Entitlement Key</th>
	    <th>Capacity</th>
	    <th>Valid From</th>
	    <th>Valid Until</th>
	  </tr>
</table>
